<header class="header">
  <div class="header-left">
    <h1 class="title">Paste Bin System</h1>
  </div>
  <div class="header-right">
    <p class="names">
      <span class="name pconly">HLD</span>
      <span class="name pconly">Redis Cache</span>
      <span class="name pconly">Bloom Filter</span>
      <span class="name">My Profile</span>
    </p>
  </div>
</header>


<div class="container">

  <div class="left">

    <h2>Title</h2>
    <textarea id="ttitleText" [disabled]="!canEdit" matInput rows="1" cols="50" [ngClass]="{'error': error.title}" [(ngModel)]="title" placeholder="Enter title"></textarea>


    <h2>Content</h2>
    <textarea id="contentText"  [disabled]="!canEdit" matInput rows="10" cols="50" [(ngModel)]="content" [ngClass]="{'error': error.content}" placeholder="Enter content"></textarea>

  </div>

  <div class="right">

    <h2>Details</h2>
    <div class="rightDetails">

      <mat-form-field>
        <input matInput [(ngModel)]="createdBy" [disabled]="!canEdit" placeholder="Author Name">
      </mat-form-field>

      <mat-form-field>
  
        <input matInput [(ngModel)]="expireAt" [disabled]="!canEdit" [matDatepicker]="expiryDatePicker" placeholder="Expiry Date">
        <mat-datepicker-toggle matSuffix [for]="expiryDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #expiryDatePicker></mat-datepicker>
  
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="createPaste()">Create New Paste</button>
      <button mat-raised-button color="primary" *ngIf="!canEdit" [cdkCopyToClipboard]="pasteLink">Copy Link <mat-icon>link</mat-icon></button>
    </div>
    

  </div>

</div>